/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #B1B2B1 ;
    padding: 5px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul {
    padding-left: 0;
    list-style: none;
    display: flex;
}

nav ul a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}
#about{
    margin-left: 0px;
}

main {
    padding-top: 28px;
}

/*section {
    margin: 40px 0;
}*/
main>section:first-child>aside{
    position: absolute;
    right: 70px;
    top: 0px;
    padding-top: 50px;
}
#home{
    background-color: #191526;
    margin-top: 50px;
    padding-left: 40px;
    height: 90vh;
}
#welcome{
    color: white;
    padding-top: 120px;
    margin-top: 0px;
    font-size: xx-large;
}
#hello{
    color: white;
    padding-top: 7px;
    font-size: x-large;
}

#article{
    color: white;
    font-size: 20px;
}
#descrption{
    padding-top: 10px;
    color: white;
    font-size: 15px;
}
#homenav{
    padding-top: 100px;

}

#Proficiency{
    background-color: #143170;
    height: 90vh;
}



/* Additional CSS for merging the profile photos */


/* Footer styling */
footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
}

footer h2 {
    margin: 0;
    font-size: 24px;
}

footer nav ul {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer nav ul a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer small {
    display: block;
    margin-top: 20px;
}

/* Add more styles as needed */

/* Your other styles... */
