/* Reset some default styles */
body, h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and font styles */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index: 1;
}

header.logo {
    font-size: 24px;
    font-weight: bold;
}

nav>ul>a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

/* Style sections */
.pages{
    background-color: white;
    position: relative;
    height: 95vh;
}

#home{
    padding-top: 70px;
    background-color: #191526;
    color: white;
}

h4{
    font-size: 30px;
    font-family: "Arial Black";
}

h3{
    font-size: 30px;
    font-family: Calibri;
}

h2 {
    font-family: Arial;
    font-size: 50px;
}

#welcome{
    padding-bottom: 20px;
}

#hello{
    padding-bottom: 20px;
}

#article>p:nth-child(1){
    padding-top: 20px;
    padding-bottom: 20px;
}

#homenav{
    padding-top: 20px;
}

#home>div{
    margin-left: 50px;
    margin-top: 200px;
}

#home>aside{
    margin: auto;
    top: 0;
    bottom: 0;
    position: absolute;
    right: 10px;
    /* top: 58px; */
    height: 56%;
    width: 26%;
    padding-bottom: 170px;
}

#home>aside>img{
    width: 600px;
}

p{
    font-size: 20px;
    color: white;
}
#article>p:nth-child(2){
    font-size: 18px;
}

section>h2{
    font-size: 24px;
    margin-bottom: 10px;
}

#Proficiency{
    background-color:#B1B2B1 ;
}

/* Style images */
img {
    max-width: 100%;
    height: auto;
}

/* Style the footer */
body>footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    left: 0;
    right: 0;
}

footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
