
#navbarText a {
    color: white;
}

#navbarText a:hover {
    color: #442994;
}

body > section:nth-child(1)>section{
    width: 95vw;
    height: 85vh;
}

main section>button>i{
    font-size: 150%;
}
